<% if( theme.search.use === 'google' ) { %>
    <!-- Google -->
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable" method="post" action="">
        <label id="search-label" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent mdl-shadow--4dp" for="search">
            <i class="material-icons mdl-color-text--white" role="presentation">search</i>
        </label>

        <form autocomplete="off" id="search-form" method="get" action="//google.com/search" accept-charset="UTF-8" class="mdl-textfield__expandable-holder" target="_blank">
            <input class="mdl-textfield__input search-input mdl-color-text--white" type="search" name="q" id="search" placeholder="">
            <label id="search-form-label" class="mdl-textfield__label" for="search"></label>

            <input type="hidden" name="sitesearch" value="<%= config.url %>">
        </form>
    </div>
<% } %>

<% if( theme.search.use === 'swiftype' ) { %>
    <!-- Swiftype -->
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable" method="post" action="">
        <label id="search-label" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent mdl-shadow--4dp" for="search">
            <i class="material-icons mdl-color-text--white" role="presentation">search</i>
        </label>

        <form autocomplete="off" id="search-form" class="mdl-textfield__expandable-holder" action="">
            <input class="mdl-textfield__input search-input st-default-search-input" type="text" name="q" id="search">
            <label id="search-form-label" class="mdl-textfield__label" for="search"></label>
        </form>
    </div>
<% } %>

<% if( theme.search.use === 'local' ) { %>
    <!-- Local -->
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable" method="post" action="">
        <label id="search-label" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent mdl-shadow--4dp" for="search">
            <i class="material-icons mdl-color-text--white" role="presentation">search</i>
        </label>

        <form autocomplete="off" id="search-form" class="mdl-textfield__expandable-holder">
            <input type="text" id="search" class="form-control mdl-textfield__input search-input mdl-color-text--white" name="q" results="0" placeholder=""/>
            <label id="search-form-label" class="mdl-textfield__label" for="search"></label>
        </form>
    </div>
    <div id="local-search-result"></div>
<% } %>
