<nav class="material-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
    <!-- Prev Nav -->
    <% if (page.prev) { %>
        <a href="<%- url_for(page.prev.path) %>" id="post_nav-newer" class="prev-content">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                <i class="material-icons">arrow_back</i>
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="mdl-color-text--white"><%= __('post.newer') %></span>
        </a>
    <% } %>

    <!-- Section Spacer -->
    <div class="section-spacer"></div>

    <!-- Next Nav -->
    <% if (page.next) { %>
        <a href="<%- url_for(page.next.path) %>" id="post_nav-older" class="next-content">
            <span class="mdl-color-text--white"><%= __('post.older') %></span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                <i class="material-icons">arrow_forward</i>
            </button>
        </a>
    <% } %>
</nav>
